{% extends 'base/base.html' %}
{% load django_bootstrap5 %}
{% block title %}Limitless CRM - Document List{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Document List</h1>
        {% if documents %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Document Type</th>
                        <th>Link</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>{{ document.id_number }}</td>
                            <td>{{ document.title }}</td>
                            <td>{{ document.document_type }}</td>
                            <td><a href="{{ document.file.url }}" download>Download</a></td>
                            <td>
                                <a href="{% url 'delete_document' document.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No documents uploaded yet.</p>
        {% endif %}
        <a href="{% url 'upload_document' %}" class="btn btn-primary">Upload Document</a>
    </div>
{% endblock %}
