{% extends 'base/base.html' %}
{% load static %}

{% block title %}Limitless CRM - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static 'crm/images/logo.jpg' %}" alt="CRM Image" class="img-fluid img_logo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Greetings to our state-of-the-art CRM platform!</h2>
                <p>Introducing the ultimate solution for effective customer management, seamless document administration and innovative task management.</p>
                <p>We are delighted to welcome you aboard! Our system has been intricately crafted to empower businesses similar to yours in effortlessly nurturing customer relationships, all the while simplifying the handling of critical documents and managing your tasks. Featuring an intuitive interface, you can easily upload, arrange, and retrieve documents, ensuring vital information is readily available whenever needed.</p>
                <p>Our customer management feature is a game-changing addition, granting you a comprehensive overview of all your clients in one centralized location. Keep a handle on your interactions with each customer, monitor their progress, and foster long-lasting connections. Tailored to meet the unique requirements of small startups as well as well-established enterprises, our CRM system allows you to dedicate your attention to what truly counts – the growth of your business.</p>
                <p>As you set forth on this journey with us, be assured that our team is dedicated to delivering exceptional support and a seamless user experience. We firmly believe that your triumphs are a direct reflection of ours, and we are committed to accompanying you every step of the way. Thank you for opting for our CRM system; we are eagerly anticipating the remarkable accomplishments your organization will attain using our potent tools within your reach. Let's collaboratively forge something extraordinary!</p>
            </div>
        </div>
    </div>

    <!-- Add the chatbot integration script here -->
    <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"16bba1519a50328f3dfe7bafc4cb3ea01","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    </script>
{% endblock %}
